*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

.one{
    height: calc(100vh - 116px);
    background-image: url("../img/jumbo-bg.png");
}

.three{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}










    /* MODIFYING CLASS */

.fs-prs{
    font-size: 2.3em
}

.txt__color--blue{
    color: #0072ce;
}

.txt__color--grey{
    color: rgb(134, 134, 134)
}

.btn-round{
    border-radius: 20px;
}

.btn__color--azure{
    background-color: #0072ce;
}

.bg-gray{
    background-color: #bebcbb;
}

.bg-dark-blue{
    background-color: #161c3b;
}

.bg-blue{
    background-color: #00439c;
}

.bg-gray--2{
    background-color: #d9dadc;
}

.bg-full{
    height: 100vh;
}

.opacity-1{
    opacity: .7;
}

.rounded-prs{
    border-radius: 15px
}

.mb-6{
    margin-bottom: 4rem
}

.mb-7{
    margin-bottom: 5rem
}

.mb-8{
    margin-bottom: 6rem
}

.w-90{
    width: 85%;
}





    /* IMG */


.carosel-one{
    border: 3px solid white;
    padding: 3px;
} 

.carosel-two{
    border: 3px solid white;
}

.carosel__img--four{
    padding: 30px;
}

.carosel-one img{
    border-radius: 20px;
}

.carosel__img--two img{
    display: block;
    margin: 0 auto;
}

.carosel__img--four img{
    border-radius: 20px;
    opacity: .7;
}

.pre__nav__logo__img{
    width: 130px;
}

.pre__nav__logo img{
    width: 100%;
}

.info__img img{
    width: 100%;
}







    /* HOVER */

.opacity-1:hover {
    opacity: 1;
    cursor: pointer;
}

.carosel-one:hover{
    border: 3px solid #0072ce;
    border-radius: 27px
}

.carosel-two:hover{
    border-bottom: 3px solid #0072ce;
    opacity: 1;
}
