*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}


.section__one{
    height: calc(100vh - 116px);
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.section__two{
    margin-top: 90px
}

.section__three{
    height: 100vh;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.section__four__carosel{
    background-color: black
}












    /* MODIFYING CLASS */

.txt__color--black{
    color: black !important;
    font-size: 1.2em
}

.txt__color--blue{
    color: #0072ce;
}

.txt__size--prg{
    font-size: 1.3em
}

.txt__color--grey{
    color: gray
}

.prs__btn--round{
    border-radius: 20px;
}

.prs__btn--color{
    background-color: #0072ce;
}







    /* IMG */

.carosel__img{
    padding: 3px;
    border: 3px solid white
}



.carosel__img--two{
    opacity: .7;
    border: 3px solid white;
}

.carosel__img--four{
    padding: 3px;
    border: 3px solid black;
}

.carosel__img--one img{
    width: 100%;
    border-radius: 20px
}

.carosel__img--two img{
    width: 50%;
    display: block;
    margin: 0 auto
}

.carosel__img--four img{
    width: 100%;
    border-radius: 20px
}

/* .carosel__img img{
    width: 100%;
} */

.pre__nav__logo__img{
    width: 130px;
}

.pre__nav__logo img{
    width: 100%;
}

.info__img img{
    width: 100%;
}








    /* HOVER */

.carosel__img--one:hover{
    border: 3px solid #0072ce;
    border-radius: 27px
}

.carosel__img--two:hover{
    /* padding-bottom: 30px; */
    border-bottom: 3px solid #0072ce;
    opacity: 1;
}

.carosel__img--four:hover{
    border: 3px solid #0072ce;
    border-radius: 27px
}




    /* SPECIFICITY */

.txt__color--black > .fas{
    font-size: .8em;
    color: #999999;
}